body{
    background-color: #f5efe6;
    padding-top: 80px;
}

.navbar{
    background-color: #4b2e2e;
}

.hero{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
}

.btn-success{
    background-color:#6f4e37;
    border:none;
}

.card{
    border-radius:15px;
}
